USE [master]
GO
/****** Object:  Database [QuanLyPhongTro]    Script Date: 17/10/2017 2:01:41 PM ******/
CREATE DATABASE [QuanLyPhongTro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyPhongTro', FILENAME = N'D:\QuanLyPhongTro.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyPhongTro_log', FILENAME = N'D:\PQuanLyPhongTro_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyPhongTro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyPhongTro]
GO
/****** Object:  Table [dbo].[ChitietPhong]    Script Date: 17/10/2017 2:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ChitietPhong](
	[MaPhong] [varchar](5) NOT NULL,
	[IdNguoi] [int] IDENTITY(1,1) NOT NULL,
	[TienCoc] [money] NULL,
	[SoNguoi] [int] NULL,
	[TinhTrang] [bit] NULL,
	[ChuPhong] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNguoi] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 17/10/2017 2:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [varchar](20) NULL,
	[GiaPhong] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NguoiTro]    Script Date: 17/10/2017 2:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NguoiTro](
	[IdNguoi] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [varchar](50) NULL,
	[NamSinh] [date] NULL,
	[Cmnd] [int] NULL,
	[SoDT] [int] NULL,
	[NgayVao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNguoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 17/10/2017 2:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Phong](
	[Maloai] [int] NULL,
	[MaPhong] [varchar](5) NOT NULL,
	[Internet] [money] NULL,
	[Rac] [money] NULL,
	[Nuoc] [money] NULL,
	[Dien] [money] NULL,
	[ChiPhiKhac] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TienPhongThang]    Script Date: 17/10/2017 2:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TienPhongThang](
	[MaPhong] [varchar](5) NOT NULL,
	[SoDienCu] [int] NULL,
	[SoDienMoi] [int] NULL,
	[SoNuocCu] [int] NULL,
	[SoNuocMoi] [int] NULL,
	[TienPhong] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ChitietPhong]  WITH CHECK ADD FOREIGN KEY([IdNguoi])
REFERENCES [dbo].[NguoiTro] ([IdNguoi])
GO
ALTER TABLE [dbo].[ChitietPhong]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([Maloai])
REFERENCES [dbo].[LoaiPhong] ([MaLoai])
GO
ALTER TABLE [dbo].[TienPhongThang]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
USE [master]
GO
